@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  color: #292828;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.headings {
  font-family: "Lora", serif;
  font-style: normal;
}
.my_navbar {
  box-shadow: 0 3px 10px #b0b0b0;
}
h1 {
  font-size: 3rem;
}
.isole {
  width: 100%;
  margin: 0;
  padding: 0;
  animation: kenburns-right 5s ease-out both;
}
.isole img {
  object-fit: cover;
  animation: kenburns-right 5s ease-out both;
}

.canvas {
  background-color: #22a7e0;
  color: #ffffff;
}

.cit {
  background-color: #22a7e0;
  color: #e8d9d9;
}

.bordi {
  border: 3px solid #22a7e0;
  border-radius: 30px;
  box-shadow: 0 4px 10px #22a7e0;
  gap: 20px;
}
